[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
rope = "*"
pylint = "*"
pylint-django = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
coveralls = "*"
pyyaml = "*"
coverage = "*"
bcrypt = "*"
passlib = "*"
argon2-cffi = "*"

[packages]
django = ">=3, <4"
django-bootstrap4 = "*"
psycopg2 = "*"
dnspython = "*"
django-tastypie = "*"

[requires]
#python_version = "3.8"

[pipenv]
allow_prereleases = true
