{% load i18n %}
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">{% trans "Domain" %}</th>
            <th scope="col">{% trans "Email" %}</th>
            <th scope="col">{% trans "Quota" %}</th>
            {% if perms.core.change_virtualuser or perms.core.delete_virtualuser %}
            <th scope="col">{% trans "Administration" %}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for virtual_user in virtual_users %}
        <tr>
            <th scope=" row">{{ virtual_user.pk }}</th>
            <td>{{ virtual_user.domain }}</td>
            <td>{{ virtual_user.email }}</td>
            <td>{{ virtual_user.readable_quota }}</td>
            {% if perms.core.change_virtualuser or perms.core.delete_virtualuser %}
            <td>
                <div class="btn-group" role="group" aria-label="Administration">
                    {% if perms.core.change_virtualuser %}
                    <a href="{% url 'virtual-users-edit-password' virtual_user.pk %}" class="btn btn-primary"><i
                            class="fas fa-lock"></i></a>
                    <a href="{% url 'virtual-users-edit' virtual_user.pk %}" class="btn btn-warning"><i
                            class="fas fa-pencil-alt"></i></a>
                    {% endif %}
                    {% if perms.core.delete_virtualuser %}
                    <a href="{% url 'virtual-users-delete' virtual_user.pk %}" class="btn btn-danger"><i
                            class="fas fa-trash"></i></a>
                    {% endif %}
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>