{% extends 'base.html' %}
{% load i18n %}
{% block container %}
<h1>{% blocktrans with name=domain.name %}DMARC scan for domain {{name}}{% endblocktrans %}</h1>
<br>
<br>
<table class="table table-hover">
    <tbody>
        <tr>
            <th>{% trans "URL" %}</th>
            <td>{{url}}</td>
        </tr>
        <tr>
            <th>{% trans "DNS response" %}</th>
            <td>{{dns_answer}}</td>
        </tr>
        <tr>
            <th>{% trans "v=DMARC1 found" %}</th>
            <td>{{v_found}}</td>
        </tr>
        <tr>
            <th>{% trans "p= found" %}</th>
            <td>{{p_found}}</td>
        </tr>
        <tr>
            <th>{% trans "Scan result" %}</th>
            <td>{{domain.get_dkim_status_display}}</td>
        </tr>
    </tbody>
</table>
{% endblock %}